.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

.header{
  background-color: black;
  color: white;
}

.search{
  display: flex;
  flex-direction: column;
}

.card-dash{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 150px 150px 150px 150px 150px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  padding: 15px;
}



.card{
  color: rgb(4, 3, 3);
  border: 2px solid black;
  height: 50px;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
  align-items: center;
  background-color:rgb(160, 163, 165);
}

@media (max-width: 786px) {
  .card-dash{
    grid-template-columns: 150px 150px 150px 150px;
  }
}

@media (max-width: 576px) {
  .card-dash{
    grid-template-columns: 150px 150px 150px;
  }
}

@media (max-width: 400px) {
  .card-dash{
    grid-template-columns: 150px 150px;
  }
}
